.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 0 3rem;
  user-select: none;

  @include from-medium {
    width: calc(100% - 8rem);
    margin-left: 8rem;
    padding: 0 4rem;
  }

  @include from-large {
    width: calc(100% - 28rem);
    margin-left: 28rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

#dark .l-header {
  background-color: $card-background-color-dark;
  color: $color-white-200;
  transition: $transition-medium;
}

#light .l-header {
  background-color: $card-background-color-light;
  transition: $transition-medium;
}
