.l-sidenav {
  display: none;

  @include from-medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 5rem 0;
    text-align: center;
    width: 8rem;
    height: 100vh;
    user-select: none;

    @include from-large {
      justify-content: space-between;
    }

    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }

    &__pic {
      display: none;
    }

    &__info {
      display: none;
    }

    &__profession {
      font-size: $font-size-small;
    }

    &__nav {
      text-align: left;
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      margin-bottom: 4rem;
    }

    &__link {
      border-radius: 15px;
      padding: 1.6rem 3rem;
      transition: all 0.1s;
    }

    &__element {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__icon {
      width: 2rem;
      text-align: center;
    }

    &__text {
      display: none;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  @include from-large {
    width: 28rem;

    &__pic {
      display: block;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      margin-bottom: 2rem;
    }

    &__info {
      display: block;
    }

    &__text {
      display: block;
    }
  }
}

#dark .l-sidenav {
  border-right: 1px solid $color-gray-200;
  transition: 50ms;
}

#light .l-sidenav {
  border-right: 1px solid $color-white-300;
  transition: 50ms;
}

#dark .l-sidenav__link:hover {
  background-color: $hover-color-dark;
  transition: 50ms;
}

#light .l-sidenav__link:hover {
  background-color: $hover-color-light;
  transition: 50ms;
}
