.l-sidenav {
  display: none;

  @include from-medium {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 5rem 6rem;
    border-right: 1px solid $color-gray-100;
    text-align: center;
    width: 20%;
    height: 100vh;
    max-width: px;

    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }

    &__pic {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
    }

    &__profession {
      font-size: $font-size-small;
    }

    &__nav {
      text-align: left;
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      margin-bottom: 4rem;
    }

    &__link {
      border-radius: 15px;
      padding: 1rem 3rem;
      transition: all 0.1s;

      &:hover {
        background-color: $color-gray-100;
      }
    }

    &__element {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__icon {
      width: 3rem;
      text-align: center;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
      // gap: 2rem;
    }
  }
}
