.c-language-selector {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid $color-purple;
  border-radius: 50px;
  padding: 0 1rem;

  @include from-large {
    gap: 0.4rem;
    padding: 0 1rem;
  }

  &__lang {
    text-transform: uppercase;
    padding: 0.4rem 1.2rem;
    cursor: pointer;

    @include from-large {
      padding: 0.4rem 0.6rem;
    }
  }
}

.selected {
  font-size: $font-size-large;
  font-weight: bold;
}

#dark .c-language-selector__lang {
  color: $color-white-100;
}

#light .c-language-selector__lang {
  color: $color-purple;
}
