.c-languages-card {
  justify-content: space-between;
  background-color: yellow;
  box-shadow: $box-shadow-small;
  color: $color-gray-200;

  &__charts {
    display: flex;
    gap: 4rem;

    @include from-medium {
      gap: 3rem;
    }

    @include from-large {
      gap: 2rem;
    }

    @include from-xxlarge {
      gap: 6rem;
    }
  }
}
