.c-slideshow {
  position: absolute;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  transition: ease 500ms;

  &__slide {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;

    @include from-medium {
      width: 25rem;
    }

    @include from-xxlarge {
      width: 30rem;
    }
  }

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    @include from-medium {
      gap: 3rem;
    }

    @include from-large {
      gap: 1rem;
    }

    @include from-xxlarge {
      gap: 10rem;
    }
  }

  &__city {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__years {
    font-weight: bold;
  }

  &__angle {
    position: absolute;
    z-index: 100;
    width: 6rem;
    cursor: pointer;

    @include from-medium {
      width: 4rem;
    }

    @include from-xxlarge {
      width: 6rem;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}

.empty-angle {
  position: absolute;
  padding: 5rem;

  @include from-medium {
    padding: 5rem 3rem;
  }

  @include from-xxlarge {
    padding: 5rem 7rem;
  }
}

#dark .c-slideshow__angle {
  color: $color-white-100;
}
