.c-experience-card {
  position: relative;
  border-radius: $border-radius-medium;
  padding: 2rem;
  width: 32rem;
  height: 28rem;
  user-select: none;
  cursor: pointer;

  @include from-large {
    width: 100%;
    height: 22rem;
  }

  @include from-xxlarge {
    height: 32rem;
  }

  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white-100;
    font-size: $font-size-large;
  }

  &::before {
    content: attr(data-company);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: #ffffff30;
    border-bottom-left-radius: $border-radius-medium;
    border-bottom-right-radius: $border-radius-medium;

    @include from-large {
      height: 6rem;
    }

    @include from-xxlarge {
      height: 8rem;
    }
  }
}

#dark .c-experience-card {
  background-color: $card-background-color-dark;
  transition: $transition-medium;
}

#light .c-experience-card {
  background-color: $card-background-color-light;
  transition: $transition-medium;
}
