.c-position-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: $border-radius-medium;
  padding: 1rem;
}

#dark .c-position-card {
  background-color: $color-black-150;
  transition: $transition-fast;
}

#light .c-position-card {
  background-color: $color-white-150;
  transition: $transition-fast;
}
