.p-about {
  display: grid;
  justify-content: center;
  grid-template-columns: 1;
  gap: 3rem;
  padding: 4rem;

  @include from-medium {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    &__card {
      width: 32rem;
      height: 34rem;

      &--bio {
        grid-row: 1/3;
        height: 100%;
      }
    }
  }

  @include from-large {
    grid-template-columns: repeat(3, 1fr);
  }

  &__slideshow {
    position: absolute;
  }

  &__live-city {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__live-time {
    font-weight: bold;
  }
}
