.p-skills {
  padding: 2rem 0;

  @include from-large {
    display: flex;
    padding: 2rem 4rem;
    height: calc(100vh - 10rem);
  }

  &__subtitle {
    padding-left: 2rem;

    @include from-medium {
      padding-left: 4rem;
    }

    @include from-large {
      padding-left: 0;
    }
  }

  &__hardskills {
    margin-bottom: 6rem;

    @include from-large {
      width: 250rem;
    }
  }

  &__softskills {
    width: 100%;

    @include from-large {
      margin-left: 4rem;
    }
  }
}
