@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap");

// FONTS SIZES
$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.8rem;
$font-size-large: 2.4rem;
