* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size-medium;
  font-weight: 600;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.l-app {
  min-height: 100vh;

  &__menus {
    display: flex;
    flex-direction: column;
  }
}

.card {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4rem;
  border-radius: $border-radius-medium;
  width: 38rem;
  height: 34rem;
  user-select: none;
  transition: transform 0.15s;

  @include from-medium {
    width: 100%;
    height: 28rem;
  }

  @include from-xxlarge {
    height: 36rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 2rem 4rem;
    width: 100%;
    z-index: 100;
  }
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-gray-200;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: $color-black-100;
}

#dark .card {
  background-color: $card-background-color-dark;
  color: $text-color-dark;
  transition: $transition-medium;
}

#light .card {
  background-color: $card-background-color-light;
  color: $text-color-light;
  transition: $transition-medium;
}

#dark .card__title {
  color: $color-white-100;
  transition: $transition-fast;
}

#light .card__title {
  color: $color-gray-200;
  transition: $transition-fast;
}
