// RESPONSIVE
@mixin from-medium {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin from-large {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}

@mixin from-xlarge {
  @media (min-width: $breakpoint-xlarge) {
    @content;
  }
}

@mixin from-xxlarge {
  @media (min-width: $breakpoint-xxlarge) {
    @content;
  }
}

// GRADIENTS
@mixin gradient-purple {
  background: rgb(160, 44, 250);
  background: -moz-linear-gradient(
    135deg,
    rgba(160, 44, 250, 1) 0%,
    rgba(95, 53, 128, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(160, 44, 250, 1) 0%,
    rgba(95, 53, 128, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(160, 44, 250, 1) 0%,
    rgba(95, 53, 128, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a02cfa",endColorstr="#5f3580",GradientType=1);
}
