//Dark theme
$background-color-dark: $color-black-100;
$card-background-color-dark: $color-black-200;
$text-color-dark: $color-gray-100;

//Light theme
$background-color-light: $color-white-200;
$card-background-color-light: $color-white-100;
$text-color-light: $color-gray-200;

#dark {
  background-color: $background-color-dark;
  color: $text-color-dark;
  transition: $transition-medium;
}

#light {
  background-color: $background-color-light;
  color: $text-color-light;
  transition: $transition-medium;
}
