// BREAKPOINTS
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;

// COLORS
$color-white-100: #fefefe;
$color-white-150: #f6f4f8;
$color-white-200: #edebef;
$color-black-100: #2e2b2b;
$color-black-150: #2e2b2b8e;
$color-black-200: #1f1d1d;
$color-gray-100: #a39f9f;
$color-gray-200: #424040;

$color-red: #ea1919;
$color-purple: #a02cfa;
$color-purple-light: #e2bffd;
$color-purple-dark: #482563;
$color-yellow: #ffbc11;
$color-yellow-light: #feeab7;
$color-yellow-dark: #65501d;
$color-pink: #df28a1;
$color-pink-light: #f5bee2;
$color-pink-dark: #5b2448;
$color-green: #27bc48;
$color-green-light: #beeac7;
$color-green-dark: #24502d;

// BORDER RADIUS
$border-radius-small: 15px;
$border-radius-medium: 30px;

// BOX SHADOW
$box-shadow-small: rgba(0, 0, 0, 0.08) 0px 3px 5px;

// TRANSITION
$transition-fast: 50ms;
$transition-medium: 100ms;
