// BREAKPOINTS
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;

// COLORS
$color-yellow-100: #ffdf19;
$color-yellow-200: #b39d18;
$color-pink-100: #d93094;
$color-pink-200: #9f296f;
$color-blue-100: #5bd0d9;
$color-blue-200: #439299;
$color-gray-100: #303135;
$color-gray-200: #242529;
$color-white: #fdebdd;
