// BREAKPOINTS
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;

// COLORS
$color-yellow: #fff27a;
$color-orange: #f9896b;
$color-purple: #51459e;

$color-gray-100: #36373e;
$color-gray-200: #303135;
$color-gray-300: #242529;
$color-white-100: #fdebdd;
$color-white-200: #dcdcdd;
$color-white-300: #cecece;
$color-white-400: #b1acaa;

// BORDER RADIUS
$border-radius-small: 15px;
$border-radius-medium: 30px;
