.c-button {
  border: none;
  border-radius: $border-radius-small;
  padding: 2rem 8rem;
  font-size: 1.8rem;
  font-weight: 700;
  transition: $transition-medium;
  z-index: 100;
  cursor: pointer;

  &--outline {
    border: 3px solid $color-gray-100;
  }

  &--purple {
    @include gradient-purple;
    color: $color-white-100;

    &:hover {
      opacity: 0.8;
    }
  }

  &--small {
    font-size: $font-size-small;
    padding: 1rem 2rem;
  }

  &--medium {
    padding: 2rem 4rem;

    @include from-medium {
      padding: 1.6rem 2rem;
    }

    @include from-xxlarge {
      padding: 2rem 4rem;
    }
  }
}
