.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.c-custom-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &--small {
    width: 6rem;
    height: 6rem;

    @include from-medium {
      width: 4rem;
      height: 4rem;
    }

    @include from-xxlarge {
      width: 6rem;
      height: 6rem;
    }
  }

  &--large {
    width: 8rem;
    height: 8rem;

    @include from-medium {
      width: 6rem;
      height: 6rem;
    }

    @include from-xxlarge {
      width: 8rem;
      height: 8rem;
    }
  }
}

#dark .c-custom-icon--green {
  color: $color-green;
  background-color: $color-green-dark;
  transition: $transition-fast;
}

#light .c-custom-icon--green {
  color: $color-green;
  background-color: $color-green-light;
  transition: $transition-fast;
}

#dark .c-custom-icon--purple {
  color: $color-purple;
  background-color: $color-purple-dark;
  transition: $transition-fast;
}

#light .c-custom-icon--purple {
  color: $color-purple;
  background-color: $color-purple-light;
  transition: $transition-fast;
}

#dark .c-custom-icon--pink {
  color: $color-pink;
  background-color: $color-pink-dark;
  transition: $transition-fast;
}

#light .c-custom-icon--pink {
  color: $color-pink;
  background-color: $color-pink-light;
  transition: $transition-fast;
}

#dark .c-custom-icon--yellow {
  color: $color-yellow;
  background-color: $color-yellow-dark;
  transition: $transition-fast;
}

#light .c-custom-icon--yellow {
  color: $color-yellow;
  background-color: $color-yellow-light;
  transition: $transition-fast;
}
