.c-hard-skills-chart {
  padding: 0 2rem;
  background-color: $color-gray-100;
  border-radius: $border-radius-medium;
  margin: 0 2rem;
  padding: 4rem 2rem 0 2rem;

  @include from-medium {
    margin: 0 4rem;
    padding: 4rem 12rem 0 12rem;
  }

  @include from-large {
    padding: 0;
  }
}
