.c-hard-skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: $border-radius-medium;
  box-shadow: $box-shadow-small;
  padding: 2rem 3rem;
  text-align: center;
  height: 15rem;
  user-select: none;
  cursor: pointer;

  &__icons {
    display: flex;
    gap: 4rem;

    @include from-large {
      gap: 2rem;
    }
  }
}

#dark .c-hard-skill-card {
  background-color: $card-background-color-dark-2;
  transition: $transition-fast;
}

#light .c-hard-skill-card {
  background-color: $card-background-color-light;
  transition: $transition-fast;
}
