.c-hard-skills {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  overflow-x: scroll;

  @include from-medium {
    padding: 2rem 4rem;
  }

  @include from-large {
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    overflow: auto;
    padding: 2rem 0;
  }
}
