.c-hard-skills {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  margin-bottom: 1rem;
  overflow-x: scroll;

  &__chart {
    height: 30rem;

    @include from-large {
      height: 40%;
    }
    @include from-xxlarge {
      height: 50%;
    }
  }

  @include from-medium {
    padding: 2rem 4rem;
  }

  @include from-large {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    overflow: auto;
    padding: 2rem 0;
    margin-bottom: 0;
  }
}
