.c-resume-card {
  color: $color-gray-300;
  box-shadow: $box-shadow-small;
  justify-content: space-between;
}

#dark .c-resume-card {
  background-color: $card-background-color-dark;
  transition: $transition-medium;
}

#light .c-resume-card {
  background-color: $card-background-color-light;
  transition: $transition-medium;
}

#dark .c-resume-card__pdf {
  color: $color-white-300;
  transition: $transition-medium;
}

#light .c-resume-card__pdf {
  color: $color-white-200;
  transition: $transition-medium;
}
