.c-soft-skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  background-color: $color-white-200;
  border-radius: $border-radius-medium;
  margin: 2rem;
  padding: 2rem;

  @include from-medium {
    margin: 2rem 4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include from-large {
    margin: 2rem 0;
    grid-template-columns: repeat(1, 1fr);
    height: calc(100vh - 24rem);
  }
}
