.c-soft-skills-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius-medium;
  padding-left: 2rem;
  color: $color-white-100;
  overflow: hidden;
  user-select: none;
  height: 9rem;

  @include from-xxlarge {
    height: 11.5rem;
  }

  &__svg {
    position: relative;
    top: 1rem;
    right: -1rem;
    opacity: 0.2;
    width: 10rem;

    @include from-large {
      right: -1rem;
      width: 8rem;
    }

    @include from-xxlarge {
      top: 1rem;
      right: -1rem;
      width: 10rem;
    }
  }

  &--purple {
    @include gradient-purple;
  }

  &--yellow {
    @include gradient-yellow;
  }

  &--pink {
    @include gradient-pink;
  }

  &--green {
    @include gradient-green;
  }
}

.problem-solving-card {
  background-image: url("/svg/problem-solving.svg");
}
