.c-soft-skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  border-radius: $border-radius-medium;
  box-shadow: $box-shadow-small;
  margin: 2rem;
  padding: 2rem;

  @include from-medium {
    margin: 2rem 4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include from-large {
    margin: 2rem 0;
    grid-template-columns: repeat(1, 1fr);
    height: 59rem;
  }

  @include from-xxlarge {
    padding: 4rem;
    height: 75rem;
  }
}

#dark .c-soft-skills {
  background-color: $card-background-color-dark;
  transition: $transition-medium;
}

#light .c-soft-skills {
  background-color: $card-background-color-light;
  transition: $transition-medium;
}
