.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.c-card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  cursor: pointer;

  @include from-medium {
    width: 6rem;
    height: 6rem;
  }

  @include from-xxlarge {
    width: 8rem;
    height: 8rem;
  }
}

#dark .c-card-item--green {
  color: $color-green;
  background-color: $color-green-dark-2;
  transition: $transition-fast;
}

#light .c-card-item--green {
  color: $color-green;
  background-color: $color-green-dark;
  transition: $transition-fast;
}

#dark .c-card-item--purple {
  color: $color-purple;
  background-color: $color-purple-2;
  transition: $transition-fast;
}

#light .c-card-item--purple {
  color: $color-purple;
  background-color: $color-purple-3;
  transition: $transition-fast;
}

#dark .c-card-item--pink {
  color: $color-pink;
  background-color: $color-pink-dark-2;
  transition: $transition-fast;
}

#light .c-card-item--pink {
  color: $color-pink;
  background-color: $color-pink-dark;
  transition: $transition-fast;
}

#dark .c-card-item--yellow {
  color: $color-yellow;
  background-color: $color-yellow-dark-2;
  transition: $transition-fast;
}

#light .c-card-item--yellow {
  color: $color-yellow;
  background-color: $color-yellow-dark;
  transition: $transition-fast;
}
