.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  cursor: pointer;

  @include from-medium {
    width: 9rem;
    height: 9rem;
  }

  @include from-xxlarge {
    width: 10rem;
    height: 10rem;
  }

  &--orange {
    background-color: $color-orange;
    color: $color-gray-200;
  }

  &--yellow {
    background-color: $color-yellow;
    color: $color-gray-200;
  }

  &--purple {
    background-color: $color-purple;
    color: $color-white-200;
  }

  &--white {
    background-color: $color-white-300;
    color: $color-gray-200;
  }
}
