.c-hobbies-card {
  box-shadow: $box-shadow-small;
  justify-content: space-between;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 14rem);
    gap: 2rem;

    @include from-medium {
      grid-template-columns: repeat(2, 12rem);
      gap: 1rem;
    }

    @include from-xxlarge {
      grid-template-columns: repeat(2, 16rem);
      gap: 3rem;
    }
  }
}
