.c-hobbies-card {
  background-color: $color-gray-100;
  box-shadow: $box-shadow-small;
  color: $color-white-100;
  justify-content: space-between;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include from-medium {
      gap: 1rem;
    }

    @include from-xxlarge {
      gap: 2rem;
    }
  }
}
